name: CI

permissions:
  contents: read

on:
  pull_request:
  push:
    branches:
      - main
      - dev
  schedule:
    - cron: '0 2 * * *'
  workflow_dispatch:

env:
  CARGO_INCREMENTAL: 0
  CARGO_NET_GIT_FETCH_WITH_CLI: true
  CARGO_NET_RETRY: 10
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1
  RUSTDOCFLAGS: -D warnings
  RUSTFLAGS: -D warnings
  RUSTUP_MAX_RETRIES: 10
  SEMIHOSTING_DENY_WARNINGS: 1
  # NB: sync with miri/msrv/test/tidy jobs' --features option and package.metadata.docs.rs.features field in Cargo.toml
  TEST_FEATURES: alloc,stdio,fs,args,time

defaults:
  run:
    shell: bash --noprofile --norc -CeEuxo pipefail {0}

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  miri:
    uses: taiki-e/github-actions/.github/workflows/miri.yml@main
    with:
      # We don't support x86_64, so use aarch64-unknown-linux-gnu instead.
      target: aarch64-unknown-linux-gnu
      # NB: sync with env.TEST_FEATURES
      args: --features alloc,stdio,fs,args,time
  msrv:
    uses: taiki-e/github-actions/.github/workflows/msrv.yml@main
    with:
      # We don't support x86_64, so use aarch64-unknown-linux-gnu instead.
      target: aarch64-unknown-linux-gnu,armv7-unknown-linux-gnueabihf,riscv64gc-unknown-linux-gnu
      # NB: sync with env.TEST_FEATURES
      args: --features alloc,stdio,fs,args,time
  # We have some platform-independent code, so test them.
  test:
    uses: taiki-e/github-actions/.github/workflows/test.yml@main
    with:
      # We don't support x86_64, so use aarch64-unknown-linux-gnu instead.
      target: aarch64-unknown-linux-gnu,mips64-unknown-linux-gnuabi64
      # NB: sync with env.TEST_FEATURES
      features: --features alloc,stdio,fs,args,time
      optional-deps: ''
      build-args: --depth 2 --exclude-features panic-unwind,backtrace,trap-hlt,openocd-semihosting
      no-std: false # covered by no-std job
  tidy:
    uses: taiki-e/github-actions/.github/workflows/tidy.yml@main
    permissions:
      contents: read
      pull-requests: write # for gh pr edit --add-assignee
      repository-projects: read # for gh pr edit --add-assignee
    secrets: inherit
    with:
      # We don't support x86_64, so use aarch64-unknown-linux-gnu instead.
      clippy-target: aarch64-unknown-linux-gnu,armv7-unknown-linux-gnueabihf,riscv64gc-unknown-linux-gnu,mips64-unknown-linux-gnuabi64
      # NB: sync with env.TEST_FEATURES
      clippy-args: --features alloc,stdio,fs,args,time

  no-std:
    strategy:
      fail-fast: false
      matrix:
        include:
          - rust: '1.64'
          - rust: '1.83'
          - rust: stable
          - rust: beta
          - rust: nightly
          # Test pre-8.0 QEMU for MIPS.
          - rust: nightly
            qemu-system: '7.2'
          # The behavior of semihosting somewhat depends on the behavior of the host system.
          - rust: nightly
            os: ubuntu-24.04-arm # QEMU 8.2
          - rust: nightly
            os: macos-latest
          - rust: nightly
            os: windows-latest
    runs-on: ${{ matrix.os || 'ubuntu-latest' }}
    timeout-minutes: 60
    steps:
      - uses: taiki-e/checkout-action@v1
      - uses: taiki-e/github-actions/install-rust@main
        with:
          toolchain: ${{ matrix.rust }}
      - uses: taiki-e/install-action@espup
        if: matrix.rust == 'stable' && (startsWith(matrix.os, 'ubuntu') || matrix.os == '')
      - run: |
          retry() {
            for i in {1..10}; do
              if "$@"; then
                return 0
              else
                sleep "${i}"
              fi
            done
            "$@"
          }
          if [[ "${{ matrix.rust }}" == "1.64" ]]; then
            # pre-17 LLD doesn't support big-endian arm
            retry sudo apt-get -o Acquire::Retries=10 -qq update
            retry sudo apt-get -o Acquire::Retries=10 -o Dpkg::Use-Pty=0 install -y --no-install-recommends binutils-arm-none-eabi
          fi
          # https://github.com/taiki-e/dockerfiles/pkgs/container/qemu-system
          retry docker create --name qemu-system ghcr.io/taiki-e/qemu-system:"${QEMU_SYSTEM_VERSION}"
          mkdir -p -- qemu-system
          docker cp -- qemu-system:/qemu qemu-system/qemu
          docker rm -f -- qemu-system >/dev/null
          sudo cp -r -- qemu-system/qemu/. /usr/local/
          rm -rf -- ./qemu-system
          # https://github.com/taiki-e/dockerfiles/pkgs/container/qemu-user
          retry docker create --name qemu-user ghcr.io/taiki-e/qemu-user
          mkdir -p -- qemu-user
          docker cp -- qemu-user:/usr/bin qemu-user/bin
          docker rm -f -- qemu-user >/dev/null
          sudo mv -- qemu-user/bin/qemu-* /usr/local/bin/
          rm -rf -- ./qemu-user
          if [[ "${{ matrix.rust }}" == "stable" ]]; then
            retry espup install --targets esp32
          fi
          qemu-system-arm --version
          qemu-arm --version
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          QEMU_SYSTEM_VERSION: ${{ matrix.qemu-system || 'latest' }}
        if: startsWith(matrix.os, 'ubuntu') || matrix.os == ''
      - run: |
          brew install qemu
          qemu-system-arm --version
        if: startsWith(matrix.os, 'macos')
      - run: |
          C:/msys64/usr/bin/pacman -S --noconfirm mingw-w64-ucrt-x86_64-qemu
          printf '%s\n' 'C:\msys64\ucrt64\bin' >>"${GITHUB_PATH}"
          C:/msys64/ucrt64/bin/qemu-system-arm --version
        if: startsWith(matrix.os, 'windows')
      # syn 2.0.107 & quote 1.0.42 & proc-macro2 1.0.104 requires Rust 1.68.
      - run: |
          cargo generate-lockfile
          cargo update -p proc-macro2 --precise 1.0.103
          cargo update -p quote --precise 1.0.41
          cargo update -p syn --precise 2.0.106
        working-directory: tests/no-std
        if: matrix.rust == '1.64'
      - run: tools/no-std.sh
        env:
          ALL_TARGETS_MUST_BE_AVAILABLE: ${{ matrix.rust == 'nightly' || '' }}
      - run: TEST_RUNNER=qemu-user tools/no-std.sh
        if: startsWith(matrix.os, 'ubuntu') || matrix.os == ''
      - run: cargo +esp build --target xtensa-esp32-none-elf -Z build-std=core,alloc --features "${TEST_FEATURES},openocd-semihosting"
        if: matrix.rust == 'stable' && (startsWith(matrix.os, 'ubuntu') || matrix.os == '')
